<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <img>
div style="background-image: url('https://images.unsplash.com/photo-1612490690182-1cbbc5ee55ad?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=80');"> >
  <div class="row header">
    <h1><center>HEART HEALTH MONITORING SYSTEM &nbsp;</h1></center>
    <h3>Fill out the patient credentials to learn more!</h3>
  </div>
  <div class="row body">
    <form action="#">
      <ul>
	  <p style="text-align:justify">
            <label for="first_name">Age</label>
            <input type="text" name="first_name"/><br></br>
            <label for="first_name">Sex</label>
            <input type="text" name="first_name" placeholder="1 for men; 0 for women"/>
        <br></br>
            <label for="first_name">Chest Pain Type</label>
            <input type="text" name="first_name" placeholder="1,2,3 or 4" /><br></br>
            <label for="first_name">Resting Blood Pressure</label>
            <input type="text" name="first_name"  /><br></br>
         
            <label for="first_name">Cholesterol</label>
            <input type="text" name="first_name" placeholder="in mg/dl" /><br></br>
         
		 
            <label for="first_name">Fasting blood sugar</label>
            <input type="text" name="first_name" placeholder="in mg/dl" /><br></br>
         
		  
            <label for="first_name">Resting electrocardiographic results </label>
            <input type="text" name="first_name" placeholder="0,1 or 2" /><br></br>
          
		  
            <label for="first_name">Maximum heart rate achieved </label>
            <input type="text" name="first_name"/><br></br>
          
		  
            <label for="first_name">Exercise induced angina</label>
            <input type="text" name="first_name" ><br></br>
          
		 
            <label for="first_name">Oldpeak(ST depression induced by exercise relative to rest)</label>
            <input type="text" name="first_name"/><br></br>
         
		  
            <label for="first_name">Slope of the peak exercise ST segment </label>
            <input type="text" name="first_name" /><br></br>
          
		  
            <label for="first_name">Number of major vessels colored by flourosopy </label>
            <input type="text" name="first_name" placeholder="0,1,2 or 3" /><br></br>
         
		  
            <label for="first_name">Thal</label>
            <input type="text" name="first_name" placeholder="3, 6 or 7" /><br></br>
          
		  
          <center><input class="btn btn-submit" type="submit" value="Predict" /></center>
        </p>
      </ul>
    </form> 

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
